* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  position: static;
}

#header {
  padding-top: 30px;
  height: 100px;
}

#ie-about {
  width: 600px;
  text-align: justify;
  padding: 50px;
  margin: auto;
  font-size: 20px;
}

#main-container {
  margin: 0;
  padding: 0;
}
